<div class="span-12">
<form action="<%= url %>" method="post" multipart="true">
  <fieldset>
    <legend>Add/Edit Brother</legend>

    <label for="">Interests</label><br />
    <textarea></textarea><br />

    <input type="submit" value="add" />
  </fieldset>
</form>
</div>

<div class="span-12 last">
  <h2>Some notes</h2>
  <div class="notice">Make sure you upload a photo</div>
</div>
