<html>
  <head><title><%= Greek.title %></title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/blueprint/screen.css" media="screen, projection" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/blueprint/print.css" media="print" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/base.css" media="screen, projection" />
    <!--[if IE]>
    <link rel="stylesheet" href="css/blueprint/ie.css" type="text/css" media="screen, projection">
    <![endif]-->
  </head>
  <body>
  <div id="container" class="container">
    <div id="header" class="span-24 last">
      <div class="span-10">
        <h1><a href="/" title="go home"><%= Greek.title %> <small>&<%= Greek.chapter %>; chapter</small></a></h1>
      </div>
      <ul id="navi" class="span-13 last">
        <li><a href="/news" title="News">News</a></li>
        <li><a href="/events" title="Events">Events</a></li>
        <li><a href="/about" title="About Us">About</a></li>
        <li><a href="/media" title="Media">Media</a></li>
        <li><a href="/contact" title="Contact Us">Contact</a></li>

        <li class="admin"><a href="/posts/new" title="New Post">New Post</a></li>
        <li class="admin"><a href="/new_brother" title="Add a Brother">Add Brother</a></li>
      </ul>
    </div>
    <div id="content" class="span-24 last">
      <%= yield %>
    </div>
  </div>
  </body>
</html>
