<div class="notice">
  Pick a class to add a brother too.
</div>
<% greek_classes.each do |klass| %>
  <a href ="/roster/<%= klass.slug %>/brothers/new" title="add brother to <%= klass.name %>"><%= klass.slug %></a>
<% end %>
