.left  { float: left; }
.right { float: right; }

a { color: #9E3434; }
a:hover { color: #DE0D1B; text-decoration: none;}

#header h1 a { font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif; font-weight: bold;}
#navi { list-style: none; margin: 0; padding: 15px 20px; overflow: auto;}
  #navi li { padding: 0; float: left;}
  #navi li.admin { float: right; }
  #navi li a { display: block; padding: 5px 8px; text-decoration: none;
	  			font: 14px/1 "Neue Helvetica", Helvetica, Verdana, sans-serif;
  					 color:;}
  #navi li a:hover { color:; }

form {}
  label:hover				  { cursor: pointer; }
  input[type="text"] 		  { width: 350px; }
  input[type="submit"][value="post"] { float: right; }
  input[type="submit"]:hover  { cursor: pointer; }
  textarea                    { width: 430px; }
  textarea#post_summary 	  { height: 80px; }
  textarea#post_body		  {}

.entry { margin-bottom: .7em; padding-bottom: .7em; overflow: auto; }

.cancel { margin-left: 15px; float: right; }

.post_admin > * { display: inline; }
.post_admin input[type="submit"] { margin-left: 10px; }

.pick_class_a { padding: 8px 12px; margin: 0 2px; text-decoration: none;
                background: ; color: ; }
.pick_class_a:hover { background: #000; color: #fff; }
